{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='http://code.jquery.com/jquery-latest.min.js'></script>
  <title>글쓰기</title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <link rel="stylesheet" href="{% static 'css/write.css'%}">
  <script>
    $(function(){
      $(".write").click(function(){
        if($("#btitle").val().length<2){
          alert("제목은 2자리 이상 입력하셔야 합니다.")
          $("#btitle").focus()
          return false;
        }
        writeFrm.submit()
      });
    });

    if ('{{w_msg}}'!=''){
      alert("게시글이 저장되었습니다.");
      location.href='/board/blist'
    }
  </script>
</head>
<body>
<section>
    <h1>글쓰기</h1>
    <hr>
    <form action="{% url 'board:bwrite' %}" name="writeFrm" method="post">
      {% csrf_token %}
      <table>
        <colgroup>
          <col width="15%">
          <col width="85%">
        </colgroup>
        <tr>
          <th>작성자</th>
          <td>
            <input type="text" name="id">
          </td>
        </tr>
        <tr>
          <th>제목</th>
          <td>
            <input type="text" name="btitle" id="btitle">
          </td>
        </tr>
        <tr>
          <th>내용</th>
          <td>
            <textarea name="bcontent" cols="50" rows="10"></textarea>
          </td>
        </tr>
        <tr>
          <th>이미지 표시</th>
          <td>
            <input type="file" name="file" id="file">
          </td>
        </tr>
      </table>
      <hr>
      <div class="button-wrapper">
        <button type="button" class="write">작성완료</button>
        <button type="button" class="cancel" onclick="javascript:location.href='/board/blist'">취소</button>
      </div>
    </form>

  </section>

</body>
</html>