<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <title>학생성적수정</title>
  <style>
    * {margin:0; padding:0;}
    #main{text-align:center; margin-top:50px;}
    h2 { margin:30px auto;}
    label{width:150px; display: inline-block;}
    .r { width:50px;}
    input[type='button'],button{width:150px; height:40px; text-align:center;}
  </style>
</head>
<body>
  <div id='main'>
    <h2><a href='/'>학생성적수정</a></h2>
    {% comment %} <form action="{% url 'students:modify' stu.name %}" method='post' name='sfrm'> {% endcomment %}
    <form action="/students/{{stu.name}}/modify/" method='post' name='sfrm'>
      {% csrf_token %}
      <label>이름</label>
      {{stu.name}}<br>
      <input type='hidden' name='name' class='name' value='{{stu.name}}'><br>
      <label>학과</label>
      <input type='text' name='major' value='{{stu.major}}'><br>
      <label>학년</label>
      <input type='text' name='grade' value='{{stu.grade}}'><br>
      <label>나이</label>
      <input type='text' name='age' value='{{stu.age}}'><br>
      <label>성별</label>
      <input type='radio' name='gender' id='M' value='M' {%if 'M' in stu.gender%}checked{%endif%} >
      <label class='r' for='M'>남자</label>
      <input type='radio' name='gender' id='F' value='F' {%if 'F' in stu.gender%}checked{%endif%} >
      <label class='r' for='F'>여자</label>
      <br><br>
      <input type='button' onclick='saveChk()' value='수정'>
      <button type='button' onclick='cancel()'>수정취소</button>
    </form>
    <script>
      function cancel(){
        location.href='/students/list/' 
      }
      function saveChk(){
        if ($(".name").val().length<2){
          alert("이름은 2자리 이상 입력하셔야 합니다.");
          $(".name").focus();
          return false;
        }else{
          alert("데이터를 전송합니다.");
          sfrm.submit();
        }

      }
    </script>
  </div>
  
</body>
</html>