{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <title>글쓰기</title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/css/style.css'%}">
  <link rel="stylesheet" href="{% static '/css/write.css'%}">
  <script>
    if ("{{wmsg}}"=="1"){
      alert("글쓰기가 저장되었습니다.")
      location.href="/board/blist/";
    }

    //제이쿼리 선언
    $(function(){
      $(".write").click(function(){
          if($("#btitle").val().length<2){
              alert("게시글 제목을 작성해 주세요.")
              $("#btitle").focus()
              return false;
          }
          
          writeFrm.submit();
      })
  });
  </script>
</head>
<body>
<section>
    <h1>글쓰기</h1>
    <hr>

    <form action="" name="writeFrm" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        <colgroup>
          <col width="15%">
          <col width="85%">
        </colgroup>
        <tr>
          <th>작성자</th>
          <td> {{request.session.session_id}}</td>
        </tr>
        <tr>
          <th>제목</th>
          <td>
            <input type="text" name="btitle" id='btitle'>
          </td>
        </tr>
        <tr>
          <th>내용</th>
          <td>
            <textarea name="bcontent" cols="50" rows="10"></textarea>
          </td>
        </tr>
        <tr>
          <th>이미지 표시</th>
          <td>
            <input type="file" onchange="readURL(this);" name="bfile" id="file">
          </td>
        </tr>
        <tr>
          <th>이미지 확인</th>
          <td id="txt"><img id="preview" src="" style="width:200px;"></td>
        </tr>
      </table>
      <script>
        function readURL(input){
          //alert(input + " 이미지가 추가되었습니다.")
          if(input.files && input.files[0]){
            var reader = new FileReader();
            reader.onload = function(e){
              document.getElementById('preview').src = e.target.result;
            }
            reader.readAsDataURL(input.files[0])
          }else{
            document.getElementById('preview').src = "";
          }
        }
      </script>
      <hr>
      <div class="button-wrapper">
        <button type="button" class="write">작성완료</button>
        <button type="button" class="cancel" onclick="javascript:location.href='/board/blist/'">취소</button>
      </div>
    </form>

  </section>

</body>
</html>