.sub_banner{ width:100%; height:320px; 
  background: url('../images/bg_topBg1_2.jpg') no-repeat;  }
section{width:1200px; height:1000px; margin:20px auto 0; text-align: center;}
section .sub_naviloc{font-size: 12px; font-weight: 500; color:#777;
   text-align: right;
  }
section h1{text-align: center; font-size:40px; font-weight: 700; margin:30px 0;}
section table,th,td{border-collapse: collapse; }
section th,td{height:42px; }
section th{  border-top:2px solid black; border-bottom:2px solid black;
font-size: 16px; font-weight: 700; background: #f3f3f3; }
section td{border-bottom:1px solid silver; }
section table{width:1200px; margin:0 auto; text-align: center;
  border-top:2px solid black; border-bottom:2px solid black; 
}
section td:nth-child(2){ text-align: left; padding-left:10px; }
.wrapper{width:380px; height:40px; margin:0 auto 30px;}
.wrapper select{width:80px; height:40px; border:1px solid #666;
  background: url(../images/search-box-select.png) no-repeat 90%;
  appearance: none; padding:5px; box-sizing: border-box;
}
.wrapper input {width:200px; height:40px; font-size:16px; 
  border:1px solid #666; padding-left:10px; box-sizing: border-box; 
  position: relative; top:2px;
}
.wrapper button{width:40px; height:40px; background: #666; color:white;
border:none; font-size: 16px;
position: relative; top:2px;
}
.page-num{ margin-top:35px;
  width:100%;
  font-size: 16px; 
  display: flex;
  justify-content: center;
  
}
.page-num li{width:36px; height:35px; border:1px solid #989898;
margin:0 3px; line-height:32px; box-sizing: border-box;}
.page-num .first{background: url(../images/paging_first.png) no-repeat; border:none; }
.page-num .prev{background: url(../images/paging_prev.png) no-repeat; border:none; }
.page-num .next{background: url(../images/paging_next.png) no-repeat; border:none; }
.page-num .last{background: url(../images/paging_last.png) no-repeat; border:none; }
.write a {width:120px; height:50px; float:right; 
border:2px solid black; line-height: 50px;}


#right_fixed {width:118px; border:1px solid #111;
  position: fixed; right:0; top:169px;
}
#right_fixed .chatting {width:118px; height:118px; border-bottom:1px solid #111;
box-sizing: border-box; padding-top: 30px;
background: white;
}
#right_fixed .chatting div:nth-child(1){width:38px; height:40px; margin:0 auto;
background: url(../images/ic_speechbubble.svg) no-repeat; background-size: cover;  }
#right_fixed .chatting div:nth-child(2){width:100%; text-align: center;
font-size: 13px; color:#111; letter-spacing: -0.26px;}

#right_fixed .ai_chatting {width:118px; height:118px; border-bottom:1px solid #111;
  box-sizing: border-box; padding-top: 30px; background: white; }
#right_fixed .ai_chatting div:nth-child(1){width:38px; height:40px; margin:0 auto;
  background: url(../images/ico_chatai_big.svg) no-repeat; background-size: cover; 
  }
#right_fixed .ai_chatting div:nth-child(2){width:100%; text-align: center;
font-size: 13px; color:#111; letter-spacing: -0.26px;}
#right_fixed .items{ font-size: 13px; text-align: center; letter-spacing: -1px;
  color:#333; background: #f3f3f3;
  width:118px; height:45px; 
}
#right_fixed .items span{ display: inline-block; box-sizing: border-box;
  margin-top: 19px; margin-left:7px;
  width:12px; height:8px;
  background: url(../images/spr_com.png) no-repeat;
  background-position: -80px -68px;
}
#right_fixed .top{height:30px; text-align: center;
  font-size: 13px; color:#333; letter-spacing: -1px; background: #f3f3f3;
  border-top:1px solid #ddd; line-height: 30px;
}

/* 로그인 부분  */
.section{width:450px; height:700px; margin:0 auto;}
.category ul { width: 100%; height:30px; margin: 50px 0 40px;  color: #606060;
display: flex; }
.category li { width:90px; height: 14px; font-size: 13px; text-align: left; 
    font-weight: 600; line-height: 12px; }
.category li a:hover{ color: black; font-weight: 600; border-bottom: 5px black solid; }    
.category li a{display: inline-block; padding-bottom: 15px; }
.category .selected {color: black; font-weight: 600; border-bottom: 5px black solid; }
.section form input{ width:100%; height:38px;  margin-bottom:5px;
 border:2px solid #ccc; font-size:16px; padding-left:10px; box-sizing: border-box; }
.section form input:focus{outline: 0;}
.section .id_group{ display: flex; margin-top:10px; font-size:16px; }
.section .id_group .save{width:150px; height:26px; text-align: left; }
.section .id_group .save span{display: inline-block; width:26px; height:26px; 
  margin-right:7px; background: url(../images/ico_set.png) 0 -40px no-repeat;
  background-size: 800px 800px; }
.section .id_group .find{width:300px; height:31px; text-align: right;  }
.section form button{width:450px; height:55px; background: #bdd61a;
  font-size: 18px; font-weight: 600; color:black; margin-top:16px; border:none; }





