<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
</head>
<body>
  <h2>로그인</h2>
  <form action="{% url 'member:login' %}" method="post" name="loginFrm">
    {% csrf_token %}
    <label>아이디</label>
    <input type='text' name='id' id='id' value={{saveId}}><br>
    <label>패스워드</label>
    <input type='password' name='pw' id='pw'><br>
    <input type='checkbox' name='saveId' value='1' id='saveId' {%if saveId%}checked{%endif%}>
    <label for="saveId">아이디저장</label><br>
    <input type='submit' value="로그인">

  </form>
  
</body>
</html>