{% load static %}
<!DOCTYPE html>
<html>
<head>
<title> JARDIN SHOP </title>
<meta charset="UTF-8" />
<meta name="csrf-token" content="{{ csrf_token }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="JARDIN SHOP" />
<meta name="keywords" content="JARDIN SHOP" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scaleable=no" />
<link rel="stylesheet" type="text/css" href="{% static '/css/reset.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static '/css/layout.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static '/css/content.css'%}" />
<script type="text/javascript" src="{% static '/js/jquery.min.js'%}"></script>
<script type="text/javascript" src="{% static '/js/top_navi.js'%}"></script>
<script type="text/javascript" src="{% static '/js/main.js'%}"></script>
<script type="text/javascript" src="{% static '/js/common.js'%}"></script>
<script type="text/javascript" src="{% static '/js/jquery.easing.1.3.js'%}"></script>
<script type="text/javascript" src="{% static '/js/idangerous.swiper-2.1.min.js'%}"></script>
<script type="text/javascript" src="{% static '/js/jquery.anchor.js'%}"></script>
<style>a{cursor: pointer;}</style>
<script type="text/javascript">
$(function() {
	const csrfToken = $("meta[name='csrf-token']").attr("content");
	// 동적이벤트
	//$(document).on("click",".replyBtn",function(){
	//});

  // 정적이벤트
	$(".replyBtn").click(function(){
    if("{{request.session.session_id}}" == ""){
			alert("로그인을 하셔야 등록이 가능합니다.")
			location.href="/member/login/"
			return;
		}

		//alert("테스트");
		alert($(".replynum").val())
		alert($(".replyType").val())
		alert("{{board.bno}}")
		pw = $(".replynum").val()
		ccontent = $(".replyType").val()
		bno = "{{board.bno}}"
		
		//ajax
		$.ajax({
			url:'/comment/cwrite/',
			type:"post",
			headers:{"X-CSRFToken":csrfToken},
			data:{"pw":pw,"ccontent":ccontent,"bno":bno},
			success:function(data){
				console.log("data : "+data)
				console.log("cno : "+data.comment[0].cno);
				console.log("member_id : "+ data.comment[0].member_id);
				console.log("board_id : "+ data.comment[0].board_id);
				console.log("id : "+ data.comment[0].ccontent);
				console.log("id : "+ data.comment[0].cdate);
				
				if(data.result == "success"){
					alert("하단댓글이 저장되었습니다.")
					//하단댓글을 추가하는 코드 입력
					var datahtml = '';
					datahtml += '<ul id="'+ data.comment[0].cno +'">';
					datahtml += '<li class="name">{{board.member.name}}<span> [ '+ data.comment[0].cdate +' ]</span></li>';
					datahtml += '<li class="txt">'+ data.comment[0].ccontent  +'</li>';
					datahtml += '<li class="btn">';
					datahtml += '<a href="#" class="rebtn">수정</a>&nbsp';
					datahtml += '<a href="#" class="rebtn">삭제</a>';
					datahtml += '</li>';
					datahtml += '</ul>';
					$(".replyBox").prepend(datahtml);		

					//입력한 글 지우기
					$(".replynum").val("")
					$(".replyType").val("")
				}else{
					alert("저장하는데 에러가 났습니다. 다시 입력하세요.")
				}
			},
			error:function(){
				alert("실패");
			}
		})//ajax
	})//click
});//jquery
</script>
</head>
<body>


<div id="allwrap">
<div id="wrap">

	<div id="header">
		
		<div id="snbBox">
			<a href="/"><h1><img src="/static/images/txt/logo.gif" alt="JARDIN SHOP" /></h1></a>
			<div id="quickmenu">
				<div id="mnaviOpen"><img src="/static/images/btn/btn_mnavi.gif" width="33" height="31" alt="메뉴열기" /></div>
				<div id="mnaviClose"><img src="/static/images/btn/btn_mnavi_close.gif" width="44" height="43" alt="메뉴닫기" /></div>
				<ul>
					<li><a href="#">EVENT</a></li>
					<li><a href="#">CUSTOMER</a></li>
					<li><a href="#">COMMUNITY</a></li>
				</ul>
			</div>
			<div id="snb">
				<ul>
					<li><a href="#">LOGIN</a></li>
					<li><a href="#">JOIN</a></li>
					<li><a href="#">MY PAGE</a></li>
					<li><a href="#">CART</a></li>
				</ul>

				<div id="search">
					<input type="text" class="searchType" />
					<input type="image" src="/static/images/btn/btn_main_search.gif" width="23" height="20" alt="검색하기" />
				</div>
			</div>
		</div>
	</div>


	<!-- GNB -->
	<div id="gnb">
		
		<div id="top">
			<ul>
				<li class="brand t1"><a href="#" id="topNavi1">JARDIN’s BRAND</a>
					<ul id="topSubm1">
						<li><a href="#">클래스</a></li>
						<li><a href="#">홈스타일 카페모리</a></li>
						<li><a href="#">드립커피백</a></li>
						<li><a href="#">카페리얼 커피</a></li>
						<li><a href="#">오리지널커피백</a></li>
						<li><a href="#">카페리얼 음료</a></li>
						<li><a href="#">마일드커피백</a></li>
						<li><a href="#">워터커피</a></li>
						<li><a href="#">카페포드</a></li>
						<li><a href="#">모히또파티</a></li>
						<li><a href="#">테이크아웃 카페모리</a></li>
						<li><a href="#">포타제</a></li>
					</ul>
				</li>
				<li class="t2"><a href="#" id="topNavi2">원두</a>
					<ul id="topSubm2">
						<li><a href="#">클래스</a></li>
						<li><a href="#">로스터리샵</a></li>
						<li><a href="#">커피휘엘</a></li>
						<li><a href="#">산지별 생두</a></li>
					</ul>
				</li>
				<li class="t1"><a href="#" id="topNavi3">원두커피백</a>
					<ul id="topSubm3">
						<li><a href="#">드립커피 로스트</a></li>
						<li><a href="#">오리지널커피백</a></li>
						<li><a href="#">마일드커피백</a></li>
					</ul>
				</li>
				<li class="t2"><a href="#" id="topNavi4">인스턴트</a>
					<ul id="topSubm4">
						<li><a href="#">까페모리</a></li>
						<li><a href="#">홈스타일카페모리</a></li>
						<li><a href="#">포타제</a></li>
					</ul>
				</li>
				<li class="t1"><a href="#" id="topNavi5">음료</a>
					<ul id="topSubm5">
						<li><a href="#">까페리얼</a></li>
						<li><a href="#">워터커피</a></li>
						<li><a href="#">모히또</a></li>
					</ul>
				</li>
				<li class="t2"><a href="#" id="topNavi6">커피용품</a>
					<ul id="topSubm6">
						<li><a href="#">종이컵</a></li>
						<li><a href="#">커피필터</a></li>
						<li><a href="#">머신 등</a></li>
					</ul>
				</li>
				<li class="t1"><a href="#" id="topNavi7">선물세트</a></li>
				<li class="t2"><a href="#" id="topNavi8">대량구매</a></li>
			</ul>
		</div>

		<script type="text/javascript">initTopMenu();</script>
	</div>
	<!-- //GNB -->

	<!-- container -->
	<div id="container">

		<div id="location">
			<ol>
				<li><a href="#">HOME</a></li>
				<li><a href="#">CUSTOMER</a></li>
				<li class="last">NOTICE</li>
			</ol>
		</div>
		
		<div id="outbox">		
			<div id="left">
				<div id="title2">CUSTOMER<span>고객센터</span></div>
				<ul>	
					<li><a href="#" id="leftNavi1">NOTICE</a></li>
					<li><a href="#" id="leftNavi2">1:1문의</a></li>
					<li><a href="#" id="leftNavi3">FAQ</span></a></li>
					<li class="last"><a href="#" id="leftNavi4">이용안내</a></li>
				</ul>			
			</div><script type="text/javascript">initSubmenu(1,0);</script>


			<!-- contents -->
			<div id="contents">
				<div id="customer">
					<h2><strong>NOTICE</strong><span>쟈뎅샵 소식을 전해드립니다.</span></h2>
						
					<div class="viewDivMt">
						<div class="viewHead">
							<div class="subject">
								<ul>
									<li>{{board.btitle}}</li>
								</ul>
							</div>
							<div class="day">
								<p class="txt">작성일<span>{{board.bdate|date:'Y-m-d'}}</span></p>
							</div>
						</div>
						<div class="viewContents">
							{{board.bcontent}}
							<br>
							{% comment %} <img src="/static/images/img/sample_event_view.jpg" alt="" /> {% endcomment %}
						</div>
					</div>


					<!-- 이전다음글 -->
					<div class="pnDiv web">
						<table summary="이전다음글을 선택하여 보실 수 있습니다." class="preNext" border="1" cellspacing="0">
							<caption>이전다음글</caption>
							<colgroup>
							<col width="100px" />
							<col width="*" />
							<col width="100px" />
							</colgroup>
							<tbody>
								<tr>
									<th class="pre">PREV</th>
									<td><a href="#">상품 재입고는 언제 되나요?</a></td>
									<td>&nbsp;</td>
								</tr>

								<tr>
									<th class="next">NEXT</th>
									<td>다음 글이 없습니다.</td>
									<td>&nbsp;</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- //이전다음글 -->


					<!-- 댓글-->
					<div class="replyWrite">
						<ul>
							<li class="in">
								<p class="txt">총 <span class="orange">{{comment.count}}</span> 개의 댓글이 달려있습니다.</p>
								<p class="password">비밀번호&nbsp;&nbsp;<input type="password" class="replynum" /></p>
								<textarea class="replyType"></textarea>
							</li>
							<li class="btn"><a class="replyBtn">등록</a></li>
						</ul>
						<p class="ntic">※ 비밀번호를 입력하시면 댓글이 비밀글로 등록 됩니다.</p>
					</div>

					<div class="replyBox">
						<!-- 입력후 데이터를 삽입 -->

						<!-- 출력부분 -->
						{% if comment  %}
						{% for c in comment  %}
						<ul id="{{c.cno}}">
							<li class="name">{{c.member.name}} <span>[{{c.cdate|date:' Y-m-d H:m:i '}}]</span></li>
							<li class="txt">{{c.ccontent}}</li>
							<li class="btn">
								<a href="#" class="rebtn">수정</a>
								<a href="#" class="rebtn">삭제</a>
							</li>
						</ul>
						{% endfor %}
						{% else %}
						<ul>
							<li class="name"></li>
							<li class="txt">댓글이 없습니다.</li>
							<li class="btn"></li>
						</ul>
						{% endif %}

						<!--  입력창부분
							<ul>
								<li class="name">jjabcde <span>[2014-03-04&nbsp;&nbsp;15:01:59]</span></li>
								<li class="txt"><textarea class="replyType"></textarea></li>
								<li class="btn">
									<a href="#" class="rebtn">완료</a>
									<a href="#" class="rebtn">취소</a>
								</li>
							</ul>
							
							<ul>비밀글부분
								<li class="name">jjabcde <span>[2014-03-04&nbsp;&nbsp;15:01:59]</span></li>
								<li class="txt">
									<a href="password.html" class="passwordBtn"><span class="orange">※ 비밀글입니다.</span></a>
								</li>
							</ul>
						</div>
						-->

					<!-- //댓글 -->


					<!-- Btn Area -->
					<div class="btnArea">
						<div class="bRight">
							<ul>
								<li><a href="/board/blist/" class="sbtnMini mw">목록</a></li>
							</ul>
						</div>
					</div>
					<!-- //Btn Area -->
					
				</div>
			</div>
			<!-- //contents -->


<script type="text/javascript" src="../js/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="../css/jquery.fancybox-1.3.4.css" />
<script type="text/javascript">
$(function(){
	
	var winWidth = $(window).width();
	if(winWidth > 767){
		var layerCheck = 540;
	}else{
		var layerCheck = 320;
	}

	$(".passwordBtn").fancybox({
		'autoDimensions'    : false,
		'showCloseButton'	: false,
		'width' : layerCheck,
		'padding' : 0,
		'type'			: 'iframe',
		'onComplete' : function() {
			$('#fancybox-frame').load(function() { // wait for frame to load and then gets it's height
			$('#fancybox-content').height($(this).contents().find('body').height());
			});
		}
	});


});
</script>

		</div>
	</div>
	<!-- //container -->




	<div id="footerWrap">
		<div id="footer">
			<div id="fnb">
				<ul>
					<li class="left"><a href="#">개인정보취급방침</a></li>
					<li><a href="#">이용약관</a></li>
					<li class="left"><a href="#">이메일무단수집거부</a></li>
					<li><a href="#">고객센터</a></li>
					<li class="left brand"><a href="#">쟈뎅 브랜드 사이트</a></li>
				</ul>
			</div>
			
			<div id="finfo">
				<div id="flogo"><img src="/static/images/txt/flogo.gif" alt="JARDIN THE COFFEE CREATOR, SINCE 1984" /></div>
				<address>
					<ul>
						<li>㈜쟈뎅</li>
						<li>대표자 윤영노</li>
						<li class="tnone">주소 서울시 강남구 논현동 4-21번지 영 빌딩</li>
						<li class="webnone">소비자상담실 02)546-3881</li>
						<li>사업자등록번호 211-81-24727</li>
						<li class="tnone">통신판매신고 제 강남 – 1160호</li>
						<li class="copy">COPYRIGHT © 2014 JARDIN <span>ALL RIGHTS RESERVED.</span></li>
					</ul>
				</address>

				<div id="inicis"><img src="/static/images/ico/ico_inicis.png" alt="이니시스 결제시스템" /></div>
			</div>
		</div>
	</div>



</div>
</div>
</body>
</html>