<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인페이지</title>
</head>
<body>
  <h2>메인페이지</h2>
  <ul>
    <li><a href="/member/product/">상품구매</a></li>
    <li><a href="/member/login2/">로그인2</a></li>
    <li><a href="/member/login/">로그인</a></li>
    <li><a href="/member/mlist/">회원리스트</a></li>
    <li><a href="/admin/">admin관리자</a></li>
    <li><a href="/board/blist/">게시판</a></li>
  </ul>
  
</body>
</html>