@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
*{margin:0; padding:0;  
font-family: "Noto Sans KR", sans-serif; font-optical-sizing: auto; font-weight: 400; font-style: normal;
}
a{text-decoration: none; color:inherit;}
ul,ol{ list-style: none; }
.top_menu{width:100%; height:35px; background: #202020; }
.top_menu ul{display: flex; color:white; font-size:13px;
 width:500px; float:right; 
 margin-top:7px; margin-right:100px;  }
.top_menu li{width:110px; height:17px; text-align: center;
/* border-left:1px solid white;  */
box-sizing: border-box;
}
.top_menu li:before{content:"|"; padding-right:13px;}
.top_menu #top_menu_1 {width:80px;}
.top_menu #top_menu_2 {width:70px;}
.top_menu #top_menu_3 {width:100px;}
.top_menu #top_menu_4 {width:100px; }
.top_menu #top_menu_5 {width:130px;
 /* border-right:1px solid black; */
}
.top_menu #top_menu_5:after { 
  content:"|"; padding-left:10px;
  }
nav{width:100%; height:82px; border-bottom:1px solid black;
display: flex; }
.logo{ width:150px; height:82px; 
  box-sizing: border-box;
  padding-top:25px; padding-left:40px;
}
.logo h1{width:100px; height:30px; 
/* ../ : 현재폴더를 나와서, ./:현재폴더에서, /: root폴더에서  */  
background: url(../images/ico_set.png) -320px -385px no-repeat;
background-size: 800px 800px;
}
.menu{ width: 85%; height:82px; 
}
.menu ul{display: flex; width:650px; height:82px; margin:0 auto; text-align: center;
 box-sizing: border-box; padding-top:25px;
}
.menu li{width:160px; }
.menu li:hover{border-bottom:3px solid black; }
.menu #menu_3{width:100px;}
.menu #menu_4{width:110px;}
.menu #menu_5{width:120px;}
.menu a{ font-size: 22px; font-weight: 700; color:#101010;
  }

.quick_menu{ width:200px; height:82px; text-align: center;
  
}
.quick_menu ul{display: flex; width:130px; height:52px;
  margin-top:15px;
}
.quick_menu li{width:62px; height:52px;
  font-size: 12px; font-weight: 700; color:#101010;
  }
.quick_menu #quick_menu1{
  width:32px; height:32px; display: inline-block;
background:url('../images/ico_set.png') -584px -320px no-repeat;
background-size: 800px 800px;
}
.quick_menu div{ width:50px; height:20px; position: relative; left:-10px; top:30px; }
.quick_menu #quick_menu2{ width:32px; height:32px; display: inline-block;
background:url('../images/ico_set.png') -628px -320px no-repeat;
background-size: 800px 800px;
}

/* 배너부분 */
section #banner{ width:100%; height:640px; background: url('../images/main_top.jpg') no-repeat;
background-size: cover; box-sizing: border-box; padding:70px 0 0 370px;
}
#banner_title{width:600px; height:450px; color:white; }
#banner_title h4{ width:70px; height:30px; margin-bottom:26px; background: white;
 font-size:16px; font-weight:600; text-align: center; color:#101010;  
 line-height: 26px; 
}
#banner_title h5{ width:210px; height:42px; margin-bottom:5px;
  font-size:28px; font-weight: 600; border-bottom:1px solid white; }
#banner_title h3{ width:450px; height:128px; font-size:52px; margin-bottom:30px; }
#banner_title .title_span1,.title_span2{ display: inline-block; height:30px; font-size:18px; }
.title_span1{width:90px; }
.title_span2{width:110px; }
#banner_title h2{ width:230px; height:56px; font-size: 40px; font-weight: 800; 
margin-bottom:30px; margin-top:20px;
}
#banner_title h2 span{display: inline-block; width:48px; height:48px;
background: url('../images/img_main_ico.png') -610px -74px no-repeat;
background-size: 800px 800px;
position: relative; top:9px;
}
#banner_title div{ width:130px; height:28px; }
#banner_title div .title_a1{ display: inline-block; width:24px; height:24px;
background: url(../images/ico_set.png) -540px -24px no-repeat;
background-size: 800px 800px;
}
#banner_title div span{ width:23px; height:27px; margin:0 12px;
font-size:18px; font-weight: 600; position: relative; top:-5px; }
#banner_title div .title_a2{ display: inline-block; width:24px; height:24px;
background: url(../images/ico_set.png) -564px -24px no-repeat;
background-size: 800px 800px;
}
